.note {
	width: 240px;
	height: 100%;
	border-radius: 0.5em;
	overflow: hidden;
	transition: 0.2s;
	background-color: var(--light-yellow);
	box-shadow: var(--box-shadow);
	border: var(--border);
}

.note:hover {
	box-shadow: var(--box-shadow-hover);
}

.note-title {
	padding: 8px;
	font-weight: 700;
	border-bottom: var(--border);
	background-color: var(--medium-yellow);
}

.note-content h1 {
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-content {
	width: 100%;
	height: 60%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
}

.note-content p {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-title h1:focus,
.note-content p:focus {
	border-bottom: 1px solid var(--text-color);
}

.note-content .action-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 5px;
}

.yellow-title {
	background-color: var(--medium-yellow);
}

.yellow-content {
	background-color: var(--light-yellow);
}

.blue-title {
	background-color: var(--medium-blue);
}

.blue-content {
	background-color: var(--light-blue);
}

.pink-title {
	background-color: var(--medium-pink);
}

.pink-content {
	background-color: var(--light-pink);
}

.green-title {
	background-color: var(--medium-green);
}

.green-content {
	background-color: var(--light-green);
}
