@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", "Segoe UI", sans-serif;
	outline: none;
	color: var(--text-color);
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
}

main {
	padding: 125px 30px 100px;
	max-width: 1100px;
	margin: auto;
}
